<ion-header>
  <ion-navbar>
    <ion-title>Binance Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-lines><span class="larger-font">Hi {{model.user.username}}!</span></ion-item>
  <ion-item no-lines *ngIf="!model.binanceAccount"><span class="small-font">You haven't set up a binance account yet. <span class="fake-link" (click)="goBinanceAccount()">Do it now</span></span></ion-item>
  <ion-item no-lines *ngIf="model.binanceAccount"><span class="small-font">Manage your binance keys <span class="fake-link" (click)="goBinanceAccount()">here</span>.</span></ion-item>
  <div *ngIf="model.binanceAccount">
    <ion-list>
      <ion-item>
        <div class="flex-space-between">
          <span class="bold">Balances</span>
          <ion-spinner name="circles" *ngIf="balancesLoading"></ion-spinner>
          <ion-icon name="refresh" class="pointer" *ngIf="!balancesLoading" (click)="loadBalances()"></ion-icon>
        </div>
      </ion-item>
      <ion-item *ngIf="balancesLoadingFailed">Failed to load balances</ion-item>
      <ion-item *ngFor="let bal of model.binanceBalances | sort:'totalInBtc-desc'">
        <div class="flex-vert small-font">
          <div class="flex-space-between">
            <span class="larger-font">{{bal.asset}}:</span>
            <span>{{bal.total | number:'1.0-8'}}</span>
            <span>{{bal.free | number:'1.0-8'}} free</span>
          </div>
          <div class="flex-space-between">
            <span>In BTC:</span>
            <span>{{bal.totalInBtc | number:'1.0-8'}}</span>
            <span>{{bal.freeInBtc | number:'1.0-8'}} free</span>
          </div>
          <div class="flex-space-between">
            <span>In USDT:</span>
            <span>{{bal.totalInUsdt | number:'1.0-8'}}</span>
            <span>{{bal.freeInUsdt | number:'1.0-8'}} free</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
