.margin-left-s {
  margin-left: 4px;
}

.margin-left-m {
  margin-left: 12px;
}

.margin-top-s {
  margin-top: 4px;
}

.margin-top-m {
  margin-top: 12px;
}

.margin-right-m {
  margin-right: 12px;
}
