<ion-header>
  <ion-navbar>
    <ion-title>Your Binance Plans</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab bottom right>
    <button ion-fab (click)="goCreatePlan()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-refresher (ionRefresh)="loadPlans($event)" pullMin="40" pullMax="80">
    <ion-refresher-content pullingIcon="refresh" refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <ion-item no-lines *ngIf="!model.binanceAccount">
    <span class="small-font">You haven't set up a binance account yet. <span class="fake-link" (click)="goBinanceAccount()">Do it now</span></span>
  </ion-item>
  <div *ngIf="model.binanceAccount">
    <ion-list>
      <ion-item>
        <div class="flex-space-between">
          <span class="bold">Plans</span>
          <ion-spinner name="circles" *ngIf="plansLoading"></ion-spinner>
          <ion-icon name="refresh" class="pointer" *ngIf="!plansLoading" (click)="loadPlans()"></ion-icon>
        </div>
      </ion-item>
      <ion-item *ngIf="plansLoadingFailed">Failed to load plans</ion-item>
      <ion-item *ngFor="let plan of model.binancePlans" (click)="goPlanDetails(plan)">
        <div class="flex-vert pointer">
          <div class="flex-space-between pointer">
            <span><span class="small-font color-grey">#{{plan.id}}</span> {{plan.config.startAmount}} {{plan.config.startCurrency}}</span>
            <span>{{plan.status}}</span>
          </div>
          <div class="small-font flex-space-between">
            <span *ngIf="plan.status == 'ACTIVE' || plan.status == 'PAUSED'">Started {{util.getTimeDiff(plan.startDate, plansCheckDate)}} ago</span>
            <span *ngIf="plan.status == 'CANCELLED' || plan.status == 'FINISHED'">Ran {{util.getTimeDiff(plan.startDate, plan.finishDate)}}</span>
            <span *ngIf="plan.runsDone > 0">{{plan.runsDone}} runs gained {{plan.balancePerc * 100 | number:'1.0-2'}}%</span>
            <span *ngIf="plan.runsDone == 0">no finished runs</span>
          </div>
          <div class="small-font flex-space-between">
            <span>{{plan.description}}</span>
            <span *ngIf="plan.status == 'ACTIVE' || plan.status == 'PAUSED'">{{util.getTimeDiff(plan.lastActionDate, plansCheckDate)}} idle</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
