<ion-header>
  <ion-navbar>
    <ion-title>Your Binance Plans</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab bottom right>
    <button ion-fab (click)="goCreatePlan()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-item no-lines *ngIf="!model.binanceAccount">
    <span class="small-font">You haven't set up a binance account yet. <span class="fake-link" (click)="goBinanceAccount()">Do it now</span></span>
  </ion-item>
  <div *ngIf="model.binanceAccount">
    <ion-list>
      <ion-item>
        <div class="flex-space-between">
          <span class="bold">Plans</span>
          <ion-spinner name="circles" *ngIf="plansLoading"></ion-spinner>
          <ion-icon name="refresh" class="pointer" *ngIf="!plansLoading" (click)="loadPlans()"></ion-icon>
        </div>
      </ion-item>
      <ion-item *ngIf="plansLoadingFailed">Failed to load plans</ion-item>
      <ion-item *ngFor="let plan of model.binancePlans" (click)="goPlanDetails(plan)">
        <div class="flex-vert pointer">
          <div class="flex-space-between pointer">
            <span>#{{plan.id}} {{plan.type}}</span>
            <span>{{plan.status}}</span>
          </div>
          <div class="small-font flex-space-between">
            <span>Started {{util.getTimeDiff(plan.startDate)}} ago</span>
            <span>{{plan.runsDone}} runs gained {{plan.balancePerc * 100 | number:'1.0-2'}}%</span>
          </div>
          <div class="small-font flex-space-between">
            <span>{{plan.description}}</span>
            <span *ngIf="plan.status == 'ACTIVE' && plan.lastActionDate">{{util.getTimeDiff(plan.lastActionDate)}} idle</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
