<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="flex-space-between">
        <span>#{{plan.id}} {{plan.type}} - {{plan.status}}</span>
        <span *ngIf="plan.status == 'ACTIVE'" class="fake-link small-font" (click)="cancelPlan()">cancel</span>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <div class="flex-space-between">
        <span class="bold">Circles</span>
        <ion-spinner name="circles" *ngIf="circlesLoading"></ion-spinner>
        <ion-icon name="refresh" class="pointer" *ngIf="!circlesLoading" (click)="loadCircles()"></ion-icon>
      </div>
    </ion-item>
    <ion-item *ngIf="circlesLoadingFailed">Failed to load plans</ion-item>
    <div *ngFor="let circle of circles">
      <ion-item>
        <div class="flex-space-between">
          <span>{{circle.startDate | date:'HH:mm:ss'}}<span *ngIf="circle.finishDate"> - {{circle.finishDate | date:'HH:mm:ss'}}</span></span>
          <span>{{circle.startAmount}} {{circle.startCurrency}}<span *ngIf="circle.finishAmount"> -> {{circle.finishAmount}} {{circle.startCurrency}}</span></span>
          <span>{{circle.status}}</span>
        </div>
      </ion-item>
      <ion-item *ngFor="let step of circle.steps">
        <div class="flex-space-between">
          <span>{{step.side}} {{step.symbol}} at {{step.price}}</span>
          <span *ngIf="step.inAmount">{{step.inAmount}} {{step.inCurrency}}<span *ngIf="step.outAmount"> -> {{step.outAmount}} {{step.outCurrency}}</span></span>
          <span>{{step.status}}</span>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
