<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="flex-space-between">
        <span>#{{plan.id}} {{plan.type}} - {{plan.status}}</span>
        <ion-icon name="more" (click)="showMenu($event)" class="pointer"></ion-icon>
        <!--<span *ngIf="plan.status == 'ACTIVE'" class="fake-link small-font" (click)="cancelPlan()">cancel</span>-->
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <div class="flex-space-between">
        <span class="bold">Runs</span>
        <span class="flex-grow"></span>
        <span class="pointer margin-right-m" (click)="showCancelledSteps = !showCancelledSteps">
          <ion-icon name="checkbox-outline" *ngIf="showCancelledSteps"></ion-icon>
          <ion-icon name="square-outline" *ngIf="!showCancelledSteps"></ion-icon>
          Show Cancelled Steps
        </span>
        <ion-spinner name="circles" *ngIf="pathsLoading"></ion-spinner>
      </div>
    </ion-item>
    <ion-item *ngIf="pathsLoadingFailed">Failed to load plans</ion-item>
    <div *ngFor="let path of paths">
      <ion-item (click)="path.showSteps = !path.showSteps">
        <div class="flex-space-between" *ngIf="path.status != 'FINISHED'">
          <span *ngIf="path.status == 'ACTIVE'">Active since {{path.startDate | date:'HH:mm:ss'}}</span>
          <span *ngIf="path.status == 'CANCELLED'">Cancelled at {{path.finishDate | date:'HH:mm:ss'}}</span>
          <span>{{path.startAmount}} {{path.startCurrency}} in max {{path.maxSteps}} steps to {{path.destCurrency}}</span>
        </div>
        <div *ngIf="path.status == 'FINISHED'">
          <div class="flex-vert pointer">
            <div class="flex-space-between">
              <span>Finished [{{path.startDate | date:'HH:mm:ss'}} - {{path.finishDate | date:'HH:mm:ss'}}]</span>
              <span>{{path.destAmount | number:'1.0-8'}} {{path.destCurrency}}</span>
            </div>
            <div class="flex-start" *ngIf="path.startCurrency == path.destCurrency">
              <span *ngIf="path.destAmount >= path.startAmount" class="color-success">+{{(100 * path.destAmount / path.startAmount) - 100 | number:'1.0-2'}}% {{path.destCurrency}}</span>
              <span *ngIf="path.destAmount < path.startAmount" class="color-failure">{{(100 * path.destAmount / path.startAmount) - 100 | number:'1.0-2'}}% {{path.destCurrency}}</span>
              <span *ngFor="let step of path.steps | filterDoneSteps; let i = index">
                <span *ngIf="i > 0 && (getDoneStep(path, i-1).outAmount - step.inAmount) > 0" class="color-success margin-left-m">
                  +{{getDoneStep(path, i-1).outAmount - step.inAmount | number:'1.0-8'}} {{step.inCurrency}}
                </span>
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="path.status == 'ACTIVE' || path.showSteps">
          <div *ngFor="let step of path.steps">
            <ion-item no-lines *ngIf="showCancelledSteps || step.status != 'CANCELLED'">
              <div class="flex-space-between">
              <span>
                {{step.step}}. step
                <span *ngIf="step.status == 'ACTIVE'"> [{{step.startDate | date:'HH:mm:ss'}}]</span>
                <span *ngIf="step.status == 'DONE'"> [{{step.finishDate | date:'HH:mm:ss'}}]</span>
              </span>
                <span *ngIf="step.status != 'DONE'">
                <span *ngIf="step.side == 'SELL'">sell {{step.inAmount | number:'1.0-8'}} {{step.inCurrency}} to {{step.symbol.replace(step.inCurrency, '')}} at {{step.price | number: '1.0-8'}}</span>
                <span *ngIf="step.side == 'BUY'">buy {{step.symbol.replace(step.inCurrency, '')}} for {{step.inAmount | number:'1.0-8'}} {{step.inCurrency}} at {{step.price | number: '1.0-8'}}</span>
              </span>
                <span *ngIf="step.status == 'DONE'">{{step.inAmount | number:'1.0-8'}} {{step.inCurrency}} -> {{step.outAmount | number:'1.0-8'}} {{step.outCurrency}} at {{step.price | number: '1.0-8'}}</span>
                <span>{{step.status}}</span>
              </div>
            </ion-item>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
