<ion-header>
  <ion-navbar>
    <ion-title>Your Binance Plans</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-lines *ngIf="!model.binanceAccount">
    <span class="small-font">You haven't set up a binance account yet. <span class="fake-link" (click)="goBinanceAccount()">Do it now</span></span></ion-item>
  <div *ngIf="model.binanceAccount">
    <ion-list>
      <ion-item>
        <div class="flex-space-between">
          <span class="bold">Plans</span>
          <ion-spinner name="circles" *ngIf="plansLoading"></ion-spinner>
          <ion-icon name="refresh" class="pointer" *ngIf="!plansLoading" (click)="loadPlans()"></ion-icon>
        </div>
      </ion-item>
      <ion-item *ngIf="plansLoadingFailed">Failed to load plans</ion-item>
      <ion-item *ngFor="let plan of model.binancePlans">
        <div class="flex-vert pointer">
          <div class="flex-space-between pointer" (click)="goPlanDetails(plan)">
            <span>#{{plan.id}} {{plan.type}}</span>
            <span>{{plan.status}}</span>
          </div>
          <div>{{plan.description}}</div>
        </div>
      </ion-item>
    </ion-list>
    <ion-fab bottom right>
      <button ion-fab><ion-icon name="add"></ion-icon></button>
      <ion-fab-list side="top" color="danger">
        <button ion-fab (click)="createLoop()"><ion-icon name="repeat"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
