<ion-header>
  <ion-navbar>
    <ion-title>Depth {{symbol}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refreshData()"><ion-icon name="refresh"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="trades.length > 0">
    Last {{trades.length}} trades took {{asTimeDiff(trades[trades.length - 1].time - trades[0].time)}}<br/>
    In last {{lastTradesInterval}} minutes were {{lastIntervalTrades.length}} trades with {{tradeBuyerMaker}} sells to {{lastIntervalTrades.length - tradeBuyerMaker}} buys<br/>
  </div>
  <div *ngIf="depth">
    Trade point analysis based on depth:
    <div>
      Place buy bid before {{bestBuyPoint}}
    </div>
    <div>
      Place sell bid before {{bestSellPoint}}
    </div>
  </div>
  <ion-fab bottom right>
    <button ion-fab (click)="goCreatePlan()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
