<ion-header>
  <ion-navbar>
    <ion-title>{{circle.toString()}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refreshData()" *ngIf="!refreshing"><ion-icon name="refresh"></ion-icon></button>
      <ion-spinner name="crescent" *ngIf="refreshing"></ion-spinner>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>Starting currency: {{circle.baseCur}}</ion-item>
  <ion-item>Amount of trades: {{circle.trades.length}}</ion-item>
  <ion-item>Value increasement: {{(circle.finalAmount - 1) * 100 | number:'1.4-4'}}%</ion-item>
  <ion-item>
    <div class="flex-space-between">
      <button ion-button [outline]="circle.riskLevel == 'low' ? null : ''" (click)="setRisk('low')">Low risk</button>
      <button ion-button [outline]="circle.riskLevel == 'optimal' ? null : ''" (click)="setRisk('optimal')">Optimal risk</button>
      <button ion-button [outline]="circle.riskLevel == 'high' ? null : ''" (click)="setRisk('high')">High risk</button>
    </div>
  </ion-item>
  <ion-list>
    <ion-list-header>Trade Steps</ion-list-header>
    <div *ngFor="let trade of circle.trades; let i = index">
      <ion-item no-lines>
        <div class="flex-space-between">
          <span *ngIf="trade.isBuy">{{i+1}}. Step buy {{trade.cur}} with {{i==0 ? circle.baseCur : circle.trades[i-1].cur}} at {{trade.tradePoint}}</span>
          <span *ngIf="!trade.isBuy">{{i+1}}. Step sell {{i==0 ? circle.baseCur : circle.trades[i-1].cur}} to {{trade.cur}} at {{trade.tradePoint}}</span>
          <span class="small-font fake-link" (click)="trade.showDetails = !trade.showDetails">{{trade.showDetails ? 'less' : 'more'}}</span>
        </div>
      </ion-item>
      <ion-item *ngIf="trade.showDetails" no-lines>
        <div class="flex-space-between">
          <span>Bid: {{trade.ticker.bidPrice}}</span>
          <span>{{trade.ticker.perc * 100 | number:'1.2-2'}}%</span>
          <span>Ask: {{trade.ticker.askPrice}}</span>
        </div>
      </ion-item>
      <ion-item *ngIf="trade.showDetails">
        <div class="flex-space-between">
          <span>Trade with {{trade.tradePerc}}% risk</span>
          <span>Get {{trade.amount | number: '1.6'}} {{trade.cur}}</span>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
